<div class="izl-place"></div>
<!--底部导航 -->
<div class="izl-footnav">
    <ul>
        <li><a href="index.php" title="首页"><span class="f-but-icon1">&nbsp;</span><b class="f-but-tit">首页</b></a></li>
        <li><a href="user.php?act=order_list" title="我的订单"><span class="f-but-icon2"></span><b class="f-but-tit">我的订单</b></a></li>
        <li><a href="user.php" title="个人中心"><span class="f-but-icon3"></span><b class="f-but-tit">个人中心</b></a></li>
        <li class="menu-nobg"><a href="#3" title="在线咨询"><span class="f-but-icon4"></span><b class="f-but-tit">在线咨询</b></a></li>
    </ul>
</div>

<a href="#" onclick="gotoTop();return false;" class="totop"></a>
</body>
</html>