<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>授权协议</title>
<link href="../styles/general.css" rel="stylesheet" type="text/css" />
</head>
<body style="padding:1em;text-align:justify;background: #fff;width:680px;">
<h3>&copy; 2005-2012 上海商派網絡科技有限公司。保留所有權利。 </h3>
<p>感謝您選擇ECShop網上商店管理系統。希望我們的努力能為您提供一個高效快速和強大的電子商務解決方案。 ECShop英文全稱為e-Commerce Shop，中文全稱為ECShop網上商店管理系統，簡稱ECShop。 <br />上海商派網絡科技有限公司為ECShop產品的開發商，依法獨立擁有ECShop產品著作權(版權登記號：2008SRBJ0394)。 ECShop官方網站為http://www.ECShop.com。
</p>
<p>ECShop著作權已在中華人民共和國國家版權局註冊，著作權受到法律和國際公約保護。使用者：無論個人或組織、盈利與否、用途如何（包括以學習和研究為目的），均需仔細閱讀本協議，在理解、同意、並遵守本協議的全部條款後，方可開始使用ECShop軟件。 </p>
<p>本授權協議適用且僅適用於ECShop 2.xx版本，上海商派網絡科技有限公司擁有對本授權協議的最終解釋權。 </p>
<h4>I.協議許可的權利</h4>
<p> 1.您可以在完全遵守本最終用戶授權協議的基礎上，將本軟件應用於非商業用途(包括個人用戶：不具備法人資格的自然人，以個人名義從事電子商務開設網店的；非盈利性用途：從事非盈利活動的商業機構及非盈利性組織，將ECShop產品用且僅用於產品演示、展示及發布，而並不是用來買賣及盈利的運營活動的) <br />
   2.您可以在協議規定的約束和限制範圍內修改ECShop源代碼(如果被提供的話)或界面風格以適應您的網站要求。 <br />
   3.您擁有使用本軟件構建的商店中全部會員資料、文章、商品及相關信息的所有權，並獨立承擔與其內容的相關法律義務。 <br />
   4.獲得商業授權之後，您可以將本軟件應用於商業用途，同時依據所購買的授權類型中確定的技術支持期限、技術支持方式和技術支持內容，自授權時刻起，在技術支持期限內擁有通過指定的方式獲得指定範圍內的技術支持服務。商業授權用戶享有反映和提出意見的權力，相關意見將被作為首要考慮，但沒有一定被採納的承諾或保證。 <br />
</p>
<h4>II.協議規定的約束和限制</h4>
<p> 1.未獲商業授權之前，不得將本軟件用於商業用途(包括但不限於企業法人經營的企業網站、經營性網站、以盈利為目或實現盈利的網站)。 <br />
   2.不得對本軟件或與之關聯的商業授權進行出租、出售、抵押或發放子許可證。 <br />
   3.無論如何，即無論用途如何、是否經過修改或美化、修改程度如何，只要使用ECShop的整體或任何部分，未經書面許可，網站頁面頁腳處的ECShop 名稱和上海商派網絡科技有限公司下屬網站(http://www.ECShop.com)的鏈接都必須保留，而不能清除或修改。 <br />
   4.禁止在ECShop的整體或任何部分基礎上以發展任何派生版本、修改版本或第三方版本用於重新分發。 <br />
   5.如果您未能遵守本協議的條款，您的授權將被終止，所被許可的權利將被收回，並承擔相應法律責任。 <br />
</p>
<h4>III.有限擔保和免責聲明</h4>
<p> 1.本軟件及所附帶的文件是作為不提供任何明確的或隱含的賠償或擔保的形式提供的。 <br />
   2.用戶出於自願而使用本軟件，您必須了解使用本軟件的風險，在尚未購買產品技術服務之前，我們不承諾提供任何形式的技術支持、使用擔保，也不承擔任何因使用本軟件而產生問題的相關責任。 <br />
   3.上海商派網絡科技有限公司不對使用本軟件構建的商店中的文章或信息承擔責任，但在不侵犯用戶隱私信息的前提下，保留以任何方式獲取用戶及商品信息的權利。 <br />
</p>
<p>有關ECShop!最終用戶授權協議、商業授權與技術服務的詳細內容，均由ECShop官方網站獨家提供。上海商派網絡科技有限公司擁有在不事先通知的情況下，修改授權協議和服務價目表的權力，修改後的協議或價目表對自改變之日起的新授權用戶生效。電子文本形式的授權協議如同雙方書面簽署的協議一樣，具有完全的和等同的法律效力。您一旦開始安裝ECShop，即被視為完全理解並接受本協議的各項條款，在享有上述條款授予的權力的同時，受到相關的約束和限制。協議許可範圍以外的行為，將直接違反本授權協議並構成侵權，我們有權隨時終止授權，責令停止損害，並保留追究相關責任的權力。 </p>
     <p style="padding:5px 10px;color:#000;text-align:right">上海商派網絡科技有限公司</p>
</body>
</html>
